body {
  background : lightgray;
}


#nav-bar {

  background: #00a087;
  color: #e8fdff;
  height: 80px;
  padding: 0 20px;
  position: fixed;
  width: 100%;

}

#nav-bar .logo {

  float: left;
  height: 80px;
  padding: 0 5px;
  width: 80px;

}

#nav-bar .header {

  float: left;
  font-size: 2em;
  line-height: 80px;
  padding: 0 5px;

}

.composer {

  background: #e8fdff;
  border: 1px solid;
  border-radius: 5px;
  color: #00a087;
  font-size: 1.25em;
  height: 60px;
  position: absolute;
  right: 50px;
  top: 10px;
  width: 120px;

}

.composer:hover {

  background: white;
  color: black;
}
